.hl1 {
  font-size: var(--xxl);
  line-height: 56px;
}

.hl2 {
  font-size: var(--xl);
  line-height: 48px;
}

.hl3 {
  font-size: var(--l);
  line-height: 42px;
}

.hl4 {
  font-size: var(--m);
  line-height: 36px;
}

.hl5 {
  font-size: var(--s);
  line-height: 30px;
}

.hl6 {
  font-size: var(--xs);
  line-height: 27px;
}

.hl7 {
  font-size: var(--xxs);
  line-height: 24px;
}
