.pagination {
  width: fit-content;
  margin: 40px auto 0 auto;

  &__list {
    display: flex;
  }

  &__link {
    display: block;
    padding: 12px 24px;
    color: var(--regal-blue);
    font-weight: var(--bold);
    border: 1px solid var(--regal-blue);
  }

  &__item + &__item > &__link {
    border-left: 0;
  }

  &__item:hover &__link,
  &__item--active &__link {
    color: var(--white);
    background-color: var(--regal-blue);
  }

  &__prev,
  &__next {
    padding: 0 16px;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
